*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color1: rgb(250, 250, 250);
  --color2: #0f4c81;
}

html {
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

body {
  min-width: 100vw;
  min-height: 100vh;

  background-image: url("img/background.png");
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ========================
SELECT SCREEN
======================== */
.game {
  width: 50%;
  min-height: 50vh;
  padding: 0.5rem;
  background: var(--color1);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.info {
  width: 100%;
  font-size: 0.7rem;
  display: flex;
  justify-content: space-between;
}

.task {
  font-size: 1.5rem;
}

.option_ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.option_li {
  padding: 0.5rem;
  background: var(--color2);

  color: var(--color1);
  border-radius: 10px;

  cursor: pointer;
  transition: transform 0.2s;
}

.option_li:hover {
  transform: scale(1.1);
}

.correct {
  background: green;
}

.wrong {
  background: red;
}
